/* Variables */
:root {
  --primary-color: #872075;
  --primary-color-over: #420538;
  --secondary-color: #f7f4fb;
  --text-color-dark: #36333c;
  --text-color-ligth: #ffffff;
  --background-color: #ecf0f1;
  --background-color-dark: #e5e5e5;
}

/* General styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, "Helvetica Neue";
}

.cont-1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles */
header {
  align-items: center;
  background-color: #872075;
  box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
  color: var(--background-color);
  display: flex;
  height: 80px;
  padding: 20px 10px;
  text-align: center;
}

/* Body styles */
section.principal {
  background-color: var(--background-color);
  padding: 20px;
  min-height: calc(100vh - 130px);
}

.title-body {
  color: var(--text-color-dark);
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container input {
  width: 280px;
}

.search-container input:focus {
  width: 280px;
  border-color: #872075;
  box-shadow: 0 0 0 0.25rem rgba(135, 32, 117, 0.25);
}

.search-container button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.search-container button:hover {
  background-color: var(--primary-color-over);
  border-color: var(--primary-color-over);
}

/* Footer styles */

footer {
  height: 50px;
  background-color: var(--background-color-dark);
  padding: 10px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }

  .search-container input {
    width: 100%;
  }
}